/* 
  Primary color: #2E8B57 emerald green; used for: nav bars, headers, call to action buttons
  Secondary color: #F5F5DC beige; used for backgrounds, cards, book details, 
  Accent color: #D4AF37 deep Gold; used for: highlights, and important information.
  Writings : Black.
*/
.book-details-body {
  background: rgb(245, 245, 220);
}
.details-content {
  padding: 3rem 3rem 0 3rem;
}

.details-details-container {
  display: flex;
  margin-left: 5rem;
  margin-right: 3rem;
  max-height: 300px;
  min-height: 300px;
}

.details-book-img-container {
  display: flex;
  justify-content: center;

  min-width: 350px;
  max-width: 400px;

  max-height: 300px;
  
  margin-right: 0.5rem;
}
.details-book-img {
  max-width: 100%;
  max-height: 100%;
}

.details-book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.details-book-info h2 {
  font-size: 2rem;
}
.details-book-info-author {
  color: #D4AF37;
  font-weight: bold;
  transition: all 0.15s;
}
.details-book-info-author:hover {
  text-decoration: underline;
  color: #e2bb3b;
}

.details-btn-container {
  display: flex;
  justify-content: center;
  
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.details-borrow-reserve-btn {
  width: 70%;
  font-weight: bold;

  color: white;
  background-color: #2E8B57;

  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.2s;
}
.details-borrow-reserve-btn:hover {
  background-color: #36a466;
  transform: scale(1.03);
}
.details-borrow-reserve-btn:active {
  background-color: #2E8B57;
  transform: scale(0.98);
}

.details-related-books {
  margin-bottom: 2rem;
}

.details-related-books h2 {
  margin-bottom: 20px;
}



.details-related-books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details-related-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1.5rem;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.2s;
}
.details-related-book-container:hover {
  background-color: rgba(46, 139, 86, 0.2);
  transform: scale(110%);
}

.details-related-book-img {
  max-width: 300px;
  max-height: 175px;
  object-fit: contain;
}


@media (min-width: 320px) and (max-width: 768px) {
  .details-book-img-container {
    margin-right: 0;
    min-width: 0;
  }
  .details-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 0;
    max-height: none;
    margin-left: 0;
    margin-right: 0;
  }
  .details-content {
    padding: 1.5rem 0.5rem 0 0.5rem;
  }
  .details-book-img {
    max-height: 250px;
    max-width: 100%;

    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  
  .details-book-info {
    margin-left: 0;
    margin-bottom: 0;
  }
  .details-related-books-container {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 600px) and (max-width: 768px) {
  .details-related-books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}